@import 'utility.css';
:root{
    --primary: #3DCFD3;
    --dark: #161616;
    --pure: #ffffff;
    --ternary: #898989;
    --light: #F2F2F2;  
}       
 
header nav{
    padding: 0.5rem  0;
}

header nav .branding{
    margin-right:3rem;
}


body{
    font-family: 'poppins', sans-serif;
    animation: breathing 9s infinite;
}

*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing : antialised;
}

header{
         background-color: var(--dark);
         clip-path: polygon(0 0 ,50% 2% , 55% 17%,100% 0 ,100% 90% ,70% 80% ,0 90%);
}

.container{
    max-width: 11570px;
    padding: 7px 35px;
    margin: 0 auto;
}
header nav .left a{
    color: red;
    text-decoration: none;
    margin-right: 1.5rem;
    text-transform: uppercase;
}
header nav .left a:hover{ 
    color: lightgreen;
    transition: all .3s ease;
}

.hero .right h4{
    color:var(--primary);
    margin-left: 2.5rem;
    font-size: 4.5rem;
    margin-bottom: 1rem;
}


.hero .right h1{
    color:var(--light);
    font-size: 4rem;
    margin-left: 2.2rem;
    margin-bottom: 3rem;
    line-height: 4rem;
}


.hero .right h1 span{
    color:red;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.hero .right p {
    color: var(--pure);
    margin-bottom: 3rem;
    margin-left: 2.2rem;
}


.popup-container {
    display: none;
    position: fixed;
    top: 15%;
    left: 77%;
    transform: translate(-10%, -10%);
    padding: 20px;
    background-color: orange;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

@keyframes breathing {
    0%{
        background-color: rgb(255, 0, 0); 
    }
    15% {
        background-color: orange; 
    }
    30% {
        background-color: green; 
    }
    45% {
        background-color: cyan; 
    }
    60% {
        background-color: lightcoral; 
    }
    80% {
        background-color: skyblue; 
    }
    100% {
        background-color: rgb(255, 0,0); 
    }
}